body {
    background-color: #926777;
    color: rgb(68, 70, 158);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 35px;
}

button {
    background-color: #4d1383;
    color: rgb(172, 64, 64);
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block ;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}